<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/style.css">
<head>
    <title>Create Task</title>
</head>
<body>
<h1>Create New Task</h1>

<form action="/tasks/save" th:object="${task}" method="post">
    <label>Title:</label>
    <input type="text" th:field="*{title}" required><br><br>

    <label>Description:</label>
    <textarea th:field="*{description}"></textarea><br><br>

    <label>Due Date:</label>
    <input type="date" th:field="*{dueDate}"><br><br>

    <label>Priority:</label>
    <select th:field="*{priority}">
        <option value="LOW">Low</option>
        <option value="MEDIUM">Medium</option>
        <option value="HIGH">High</option>
    </select><br><br>

    <label>Reminder Date:</label>
    <input type="date" th:field="*{reminderDate}"><br><br>

    <button type="submit">Save Task</button>
</form>

<a href="/tasks/view">⬅ Back to Task List</a>
</body>
</html>
